
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Descarte Inteligente</h1>
        <p>Conectando pessoas e ajudando a melhorar o mundo</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
        <h2>Anúncios</h2>
        <p>Veja aqui todos os anúncios de lixo eletrônico para descarte</p>
        <p><a class="btn btn-secondary" [routerLink]="['/anuncios/lista']" role="button">Visualizar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro</h2>
        <p>Se cadastre para poder anunciar lixo eletrônico para descarte ou para se candidatar ao recolhimento do que for de seu interesse</p>
        <p><a class="btn btn-secondary" [routerLink]="['/usuarios/cadastro']" role="button">Cadastrar Agora &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Acesse aqui seu perfil</p>
        <p><a class="btn btn-secondary" [routerLink]="['/login/auth']" role="button">Login &raquo;</a></p>
    </div>
    </div>

    <hr>

</div> <!-- /container -->